.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.venv
node_modules
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.coverage
htmlcov
.cache
.git
.envs/
.agents/
.claude/
.windsurf/
tests/
